<template name="about">

	<!-- Main -->
	<article id="main">
		<header>
			<h2>coderazor.io</h2>
			<p>Origins of the site name and a bit about the author...</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">
				
				<h5>Site name...</h5>
					<p><span class="image left"><img src="images/pic04.jpg" alt="" /></span>Ok, what does “coderazor” mean anyways? Well, I am a fan of the principle of problem solving referred to as <a href="https://en.wikipedia.org/wiki/Occam%27s_razor">Occam’s Razor</a>, or law of parsimony (big word alert). I have found that over the course of my 20 years of experience in software engineering the simple, even obvious, solution is almost always the most pragmatic and eloquent. Thus, the "cutting edge eloquence" phrase and the term coderazor refering to <a href="https://en.wikipedia.org/wiki/Occam%27s_razor">Occam’s Razor</a> as well as symbolized in the razor wire on the site background. Clever right? I thought so. Ok...maybe I shouldn't have used prison wire...but whatever. Now about the eloquence part...
				</p>
				<p>
					<a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=eloquence">Eloquence</a> is about influecing others through words, or language. Software engineers desire to influence others through the language of code. Software engineers are also creators. This makes sense. It would be worthless to create solutions that no one uses; worthless to write code that no one uses. In fact shelved software is something that drives engineers absolutely bonkers.
				</p>
				<p>
					Many engineers will try to solve all possible permutations of a problem before delivering any solution to the customer. This can lead to spending huge amounts of resources and time on edge cases that simply are not worth the effort, nor the time. In a similar vein this aligns with <a href="http://ubiquity.acm.org/article.cfm?id=1513451">Hoare’s assertion</a> to avoid premature optimization when there are more obvious high value tasks to accomplish (paraphrased of course).  
				</p>
					
				<h5>Who is the author...</h5>
					<p><span class="image left"><img src="images/pic04.jpg" alt="" /></span>I am a software engineer with over 20 years of writing code and leading teams. I love what I do and enjoy working with others to create great software. I have multiple degress including computer science. I have worked for over 20 companies including my own.
				</p>
				<p>
					Ok, if you want to know more abou the auther just use the social media links at the bottom. I really do try for humility and don't want to write another paragraph here about myself.
				</p>

			</div>
		</section>
	</article>
</template>

