<template name="home">

	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>coderazor.io</h2>
				<p>cutting edge eloquence...<br /></p>
			</div>
			<a href="#one" class="more scrolly">Learn More</a>
		</section>

	<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Software Craftsmanship</h2>
					<p>Great software comes from those that love the craft <br> 
					and appreciate the influence of eloquent code.</p>
					
				</header>
				<ul class="icons major">
					<li><span class="icon fa-diamond major style1"><span class="label">Clarity</span></span></li>
					<li><span class="icon fa-heart-o major style2"><span class="label">Love</span></span></li>
					<li><span class="icon fa-code major style3"><span class="label">Code</span></span></li>
				</ul>
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
					<h2>Clarity of Purpose</h2>
					<p>No journey can be undertaken without clarity of direction...</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
					<h2>Creative Passion</h2>
					<p>Those not passionate about what they do are destined for mediocrity...</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
					<h2>Engineering Principles</h2>
					<p>Principles guide the craftsman to continuosly improve...</p>
				</div>
			</section>
		</section>

	<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>Values of a Software Craftsman</h2>
					<p>Values are at the core of the craftsman. Values are what the craftsman inherently believe in.</p>
				</header>
				<ul class="features">
					<li class="icon fa-heart-o">
						<h3>Humility</h3>
						<p>Humility gives the craftsman the perspective to learn and serve. Without humility the craftsman cannot succeed.</p>
					</li>
					<li class="icon fa-flag-o">
						<h3>Service</h3>
						<p>The craftsman builds out of the desire to provide service to others.</p>
					</li>
					<li class="icon fa-paper-plane-o">
						<h3>Continuous Improvement</h3>
						<p>The desire to continually improve drives the craftsman to hone their skill.</p>
					</li>					
					<li class="icon fa-paper-plane-o">
						<h3>Continuous Learning</h3>
						<p>Continual learning feeds the craftsman's ability to continually improve.</p>
					</li>
					<li class="icon fa-paper-plane-o">
						<h3>Agility</h3>
						<p>Being flexible allows the craftsman to adjust to the ever changing environment.</p>
					</li>
					<li class="icon fa-laptop">
						<h3>Collaboration</h3>
						<p>Collaboration allows the craftsman to learn from others.</p>
					</li>
					<li class="icon fa-code">
						<h3>Community</h3>
						<p>Community is what surrounds the craftsman to support their value system and craft.</p>
					</li>
					<li class="icon fa-headphones">
						<h3>Quality</h3>
						<p>Quality is measure by which the craftsman views their performance.</p>
					</li>
					
				</ul>
			</div>
		</section>

	<!-- CTA -->
		<section id="cta" class="wrapper style4">
			<div class="inner">
				<header>
					<h2>Cutting edge eloquence...</h2>
					<p>The ability of the software craftsman to influence the customer through the language of code...</p>
				</header>
				<ul class="actions vertical">
					<li><a href="/about" class="button fit">Learn more...</a></li>
				</ul>
			</div>
		</section>

</template>