<template name="learning">
	<!-- Main -->
	<article id="main">
		<header>
			<h2>Learning</h2>
			<p>Books and links I find useful...</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">

				<section>
					<h4>Books</h4>
					<div class="table-wrapper">
						<table>
						<!--
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Link</th>
								</tr>
							</thead>
							-->
							<tbody>
								<tr>
									<td><a href="http://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X/ref=sr_1_1?ie=UTF8&qid=1457022070&sr=8-1&keywords=pragmatic+programmer">The Pragmatic Programmer</a></td>
									<td>Great book for keeping the engineer focused on the important things.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?ie=UTF8&qid=1457022158&sr=8-1&keywords=clean+code">Clean Code</a></td>
									<td>The title says it all. The "uncle" Bob Martin series is awesome; well worth the purchase and the read(s).</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073/ref=sr_1_2?ie=UTF8&qid=1457022158&sr=8-2&keywords=clean+code">Clean Coder</a></td>
									<td>The title says it all. The "uncle" Bob Martin series is awesome; well worth the purchase and the read(s).</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Refactoring-Improving-Design-Existing-Code/dp/0201485672/ref=pd_sim_14_5?ie=UTF8&dpID=512-aYxS4ML&dpSrc=sims&preST=_AC_UL160_SR127%2C160_&refRID=1JMMZT44X58AF26CS7NQ">Refactoring: Improving the Design of Existing Code</a></td>
									<td>Any seasoned engineer faces the challenge of updating someone else's code. This book is a great read for that.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Refactoring-Improving-Design-Existing-Code/dp/0201485672/ref=pd_sim_14_5?ie=UTF8&dpID=512-aYxS4ML&dpSrc=sims&preST=_AC_UL160_SR127%2C160_&refRID=1JMMZT44X58AF26CS7NQ">Working Effectively with Legacy Code</a></td>
									<td>Another great book on refactoring legacy software.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/ref=pd_sim_14_3?ie=UTF8&dpID=51szD9HC9pL&dpSrc=sims&preST=_AC_UL160_SR127%2C160_&refRID=0VN8FQ850P8P602DRCBE">Design Patterns</a></td>
									<td>Any good list includes this one from the GOF.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Patterns-Enterprise-Application-Architecture-Martin/dp/0321127420/ref=sr_1_1?s=books&ie=UTF8&qid=1457022560&sr=1-1&keywords=patterns+of+enterprise+application+architecture">Patterns of Enterprise Application Architecture</a></td>
									<td>Martin Fowler is a must read.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Art-Innovation-Lessons-Creativity-Americas/dp/0385499841/ref=sr_1_1?s=books&ie=UTF8&qid=1457022619&sr=1-1&keywords=art+of+innovation">Art of Innovation</a></td>
									<td>One of the books responsible for inspiring many of us to challenge norms and think out of the box.</td>
								</tr>
								<tr>
									<td><a href="http://www.amazon.com/Computer-Programming-Volumes-1-4A-Boxed/dp/0321751043/ref=sr_1_1?s=books&ie=UTF8&qid=1457022671&sr=1-1&keywords=art+of+computer+programming">The Art of Programming</a></td>
									<td>Foundational series for any serious software engineer. Any complete list has to mention Knuth IMHO.</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
								</tr>
							</tfoot>
						</table>
					</div>
					
				</section>

				<section>
					<h4>Sites</h4>
					<div class="table-wrapper">
						<table>
						<!--
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Link</th>
								</tr>
							</thead>
							-->
							<tbody>
								<tr>
									<td><a href="http://www.infoq.com">InfoQ</a></td>
									<td>I really enjoy the content on this site. I always seem to find something useful.</td>
								</tr>
								<tr>
									<td><a href="http://www.stackoverflow.com">StackOverflow</a></td>
									<td>An industry standard for collaboration and problem solving.</td>
								</tr>
								<tr>
									<td><a href="http://www.thoughtworks.com">ThoughtWorks</a></td>
									<td>This group has done amazing things and is associated with Martin Fowler.</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
								</tr>
							</tfoot>
						</table>
					</div>

				</section>
			</div>
		</section>
	</article>

</template>
